.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.navbar-brand {
	padding: 0px !important;
}

.front-page {
	margin-top:10vh;
}

.patient {
	margin-top:5vh;
}
.header-title {
	color:#FFF;
	 font-weight: bold;
}

.red {
	color: #d60404 !important;
}

.hanger {
	margin-top: -10vh;
}

.header-title2 {
	color:#FFF;
}

/* Custom page header */
.navbar {
  border-bottom: 0px solid #e5e5e5;
  margin-bottom: 0px !important;
  padding-left:15px;
  padding-right:15px;
}
/* Custom page header */
.header {
	background-color: #FFFFFE;
}

.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}
.front-header {
	width:100%;
	background-color: #5CBBB3;
	height: 25vh;
	min-height: 180px;
}

.container-fluid {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.social-buttons {
	padding: 5px;
}

.skill-label {
	background-color: #ECECEC;
	color: #85878c;
	padding: 0.8em 2.0em 0.8em 2.0em;
	margin: 0.7em;
	display:inline-block;
}

.container-narrow > hr {
  margin: 30px 0;
}

.create-account-button {
	border: darkgray;
	border-style: solid;
	border-width: 1px;
}

.personal-information {
	margin-top:5vh;
}
.navbar-brand {
	padding-top:5px !important;
}
.navbar-nav > li > a {
    padding-top:25px !important; padding-bottom:0 !important;
    height: 70px;
}
.navbar {min-height:70px !important;}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 1000px) {


	.face {
	margin:auto;
	}
	
	.jumbotron {
	margin-top:15px;
	}

	.personal-information {
	margin-top:0vh;
	}

	.pledge {
	display:none;
	}
	.ball {
	display: none;
	}

	.ball2 {
	display: none;
	}
	.hanger {
	display: none;
	}
	.navbar-header {
	float: none;
	}
	.header-title {
		color:#000;
	}
	.header-title2 {
		color:#000;
	}
	.navbar-toggle {
	display: block;
	}
	.navbar-collapse {
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse {
	display: none!important;
	}
	.navbar-nav {
	float: none!important;
	margin: 7.5px -15px;
	}
	.navbar-nav>li {
	float: none;
	}
	.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
	}
	.navbar-text {
	float: none;
	margin: 15px 0;
	}
	/* since 3.1.0 */
	.navbar-collapse.collapse.in { 
	display: block!important;
	}
	.collapsing {
	overflow: hidden!important;
	}
}
 