<div class="front-header">

<div class="container">
  
<div class="row front-page">
  <div class="col-md-3">
  <div class="col-md-12 face">
	 <img class="img-responsive face" src="images/userpic.png" alt="user">  
 </div>  
  <div class="col-md-12 patient">
	<img class="img-responsive pledge" src="images/patient pledge.png" alt="user">   
 </div>  
 </div>
 
 <div class="col-md-5">
 <h3 class="header-title">First name and last name</h3>
 <h3 class="header-title2">Position</h4>
 </div>
  <div class="col-md-1 ball">
 <img class="img-responsive" src="images/ball.png" alt="ball">   
 </div>
  <div class="col-md-1 ball">
 <img class="img-responsive" src="images/ball.png" alt="ball">  
 </div>
  <div class="col-md-1 ball">
 <img class="img-responsive" src="images/ball2.png" alt="ball">  
 </div>  
 <div class="col-md-1 hanger">
 <img class="img-responsive" src="images/hanger.png" alt="hanger">   
 </div>
	<div class="col-md-9 personal-information">
		<div class="col-md-12">
			<h3 class="">Contact Information</h3>
		</div>
		<div class="col-md-12">
			<div class="col-md-3">
				<h4 class="">Organization</h3>
			</div>
			<div class="col-md-9">
				<a href="www.rollesaarinen.com" class="">The very big important organization</a>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-3">
				<h4 class="">About</h3>
			</div>
			<div class="col-md-9">
				<p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-3">
				<h4 class="">Social media</h3>
			</div>
			<div class="col-md-3 social-buttons">
				  <a class="btn btn-block btn-social btn-twitter">
					<span class="fa fa-twitter"></span>Twitter
				  </a>
			</div>
			<div class="col-md-3 social-buttons">
				  <a class="btn btn-block btn-social btn-facebook">
					<span class="fa fa-facebook"></span>Facebook
				  </a>
			</div>
			<div class="col-md-3 social-buttons">
				  <a class="btn btn-block btn-social btn-linkedin">
					<span class="fa fa-linkedin"></span>Linkedin
				  </a>
			</div>
		</div>
	</div>
	
	<div class="col-md-9">
	
	<div class="col-md-12 jumbotron">
		<div class="col-md-9">
			<p>The email, phone number and address of the user are not available in the public version of the expert profile.<p>
		</div>			
		<div class="col-md-3">
			<button type="button" class="btn create-account-button">Create your account</button>
		</div>
	</div>
	
	<div class="col-md-12">
		<h3 class="">Expertise</h3>
	</div>
	<div class="col-md-12">
		<span class="label label-default skill-label">Team management</span>
		<span class="label label-default skill-label">Market research</span>
		<span class="label label-default skill-label">Marketing</span>
		<span class="label label-default skill-label">Public relations</span>
		<span class="label label-default skill-label">Recruiting</span>
		<span class="label label-default skill-label">Sales</span>
		<span class="label label-default skill-label">Training</span>
		<span class="label label-default skill-label">Budgets</span>
	</div>
	</div>

</div>

</div>
</div>


